span.MuiSlider-thumbColorPrimary.MuiSlider-thumbSizeMedium.MuiSlider-thumb.Mui-disabled.css-3nsjq9-MuiSlider-thumb{
    display: none !important;
}
span.MuiSlider-thumbColorPrimary.MuiSlider-thumbSizeMedium.MuiSlider-thumb.css-3nsjq9-MuiSlider-thumb{
    display: none !important;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root{
    width: 40px;
    height: 40px;
}